{% load static %}
<div id='additional'>
  <h2>What additional help is available for court users with a disability?</h2>
  <p>
    If you have a disability which makes going to court or communicating difficult, please contact a member of
    staff at the court. If you are deaf or hard of hearing and require assistance the following services can help
    you once you have obtained the relevant court telephone number: 
    <ol>
      <li>
        Textphone users calling voicephones or textphones - dial 18001 
      </li>
      <li>
        Voicephone users calling textphones or voicephones - dial 18002 
      </li>
      <li>
        Text relay service on 0870 240 5152
      </li>
    </ol>
  </p>
</div>
