{% load static %}
<div id='roles'>
  <h2>After you have given evidence</h2>
  <p>
    When you have finished giving your evidence you will be thanked for attending and will be told whether you
    are allowed to leave. If you wish to stay and watch the rest of the case, this will be arranged if the Court
    agrees.
  </p>
  </div>
