{% load static %}
<div id='roles'>
  <h2>After your case has finished</h2>
  <p>
    You will be told the result of your case by the Witness Care Unit who will also be able to provide you with
    information about any further support you may need.
  </p>
  <p>
    You may be able to claim the cost of having to come to court. You can ask the Witness Care Unit which has
    asked you to come to court for an application form before the trial. You can also request a claim form from
    the CPS representative at court or the Witness Care Unit after your trial. If you have receipts, you should
    send these with your claim.
  </p>
  <p>
    If the defendant appeals against the decision of the Court, the Witness Care Unit will tell you about this and will explain the procedures involved.
  </p>
</div>
