{% load static %}
<div id='roles'>
  <h2>Before you give evidence</h2>
  <p>
    Arrangements can be made for you to see where you will be giving evidence. Generally this is done at a
    pre-trial visit, although this may occasionally be possible on the day. Please ask the Court Usher or the
    Witness Service representative.
  </p>
  <p>
    You will give evidence in a courtroom, or in a room away from the court if special arrangements have been
    made for you i.e video links.
  </p>
  <p>
    It might be a while since you have seen the written or video statement which you made to the police. You
    should be given the chance to see it again before you give evidence. If not, then please ask the Crown
    Prosecution Service representative at court. It might help to refresh your memory.
  </p>
  <p>
    Oath taking procedures will be explained to you and you will be asked whether you want to swear to tell the
    truth on the holy book of your religion or whether you wish to make an affirmation, which is a non-religious
    way of swearing to tell the truth. If you are a witness in a Youth Court you will promise to tell the truth or
    affirm. You will be asked about other rituals and practices you may want to observe before giving evidence.
  </p>
  <p>
    Light refreshments may be available for you to buy. See the facilities section for more information.
  </p>
  <p>
    You may have access to en-suite toilet facilities or toilets within close proximity to your waiting area.
  </p>
  <p>
    We aim to call you to give your evidence within two hours of the start time, although this is not always
    possible.
  </p>
  <p>
    We will provide you with regular updates on the progress of the case and explain the reasons for any delay,
    where possible. If you are likely to have to wait a long time, the court will consider letting you leave court to
    return at a later time.
  </p>
</div>
