{% load static %}
<div id='roles'>
  <h2>Before arrival</h2>
  <p>You can arrange with the Witness Service or Witness Care Unit to visit the Court in advance of the trial.
    This may make you feel more confident about attending Court to give evidence. If you think this might help,
    please call the Witness Service or the Witness Care Unit using the contact details provided.
  </p>
  <p>If you feel you need to wait away from the public area please tell the Court Usher or Witness Service
    representative who will try to make alternative arrangements. Family and friends attending with you may not
    be allowed to wait in the witness waiting areas, in which case they will be seated elsewhere away from the
    defendant wherever possible. Ask the Witness Service before attending.
  </p>
  <p>If you have particular needs, possibly arising out of a disability or religious observance, please let
    someone know in advance of the day you are due to attend by contacting the Witness Care Unit or by calling the Witness Service - please see contact details for information.
  </p>
  <p>If you are a child or young witness, special arrangements for your needs will be made by the Witness Care
    Unit.
  </p>
  <p>There are no facilities for children, who are not witnesses, to be looked after at court so avoid bringing
    children with you if possible. If you wish to discuss alternative care arrangements please contact the
    Witness Care Unit.
  </p>
  <p>If you have to bring your child to court, please bring an adult friend or relative to sit with them whilst you give your evidence, as Court staff are unable to help.
  </p>
  <p>It is important to inform the Witness Care Unit if you have any difficulties attending on the date you have
    been asked to attend. Please ensure that you have confirmed in advance with the Witness Care Unit that
    you will be attending on the date and at the time specified.
  </p>
  <p>Please let the Witness Care Unit, know preferably in advance of the trial if you have any commitments
    during the day which cannot be changed, for example, children at school who need to be collected.
  </p>
</div>
