{% load static %}
<div id='belongings'>
  <h2>Personal belongings</h2>
  <p>
    Court staff cannot look after your personal belongings and cannot be held responsible for their safety. Do
    not leave bags unattended. Please also note that court users are not permitted to use recording equipment,
    photography, mobile telephones and pagers in courtrooms. Security at court is of paramount importance to
    HMCTS and we work to ensure that all visitors to court, including victims and witnesses are in a safe and
    secure environment. Sharp objects such as knives are not allowed in the court building and if brought to
    court they will be removed by security and will not be returned when you leave. If carrying a kirpan this
    must be concealed and the overall length must not exceed 6 inches, (2 inches handle, 4 inches blade).
  </p>
</div>
