
<div id="global-breadcrumb" class="header-context">
  <ol role="breadcrumbs" class="group">
    <li><a href="{% url 'staticpages:home' %}">Home</a></li>
    <li><a href="{% url 'search:search' %}">Find a court or tribunal</a></li>
    {% if query or courtcode %} 
      {% if query %} 
        <li><a href="{% url 'search:address' %}">Search by name of address</a></li>
        <li><a href="{% url 'search:results' %}?q={{ query }}">Search results</a></li>
      {% elif courtcode %}
        <li><a href="{% url 'search:courtcode' %}">Search by Court location code</a></li>
        <li><a href="{% url 'search:results' %}?courtcode={{ courtcode }}">Search results</a></li>
      {% endif %}
    {% elif postcode %}
      <li><a href="{% url 'search:aol' %}?aol={{aol}}">About your issue</a></li>
      {% if spoe %}
        <li><a href="{% url 'search:spoe' %}?aol={{aol}}&spoe={{spoe}}">Additional info</a></li>
        <li><a href="{% url 'search:postcode' %}?aol={{aol}}&spoe={{spoe}}&postcode={{postcode}}">Search by postcode</a></li>
        <li><a href="{% url 'search:results' %}?postcode={{ postcode }}&spoe={{ spoe }}&aol={{ aol }}">Search results</a></li>
      {%   else %}
        <li><a href="{% url 'search:postcode' %}?aol={{aol}}&postcode={{postcode}}">Search by postcode</a></li>
        <li><a href="{% url 'search:results' %}?postcode={{ postcode }}&aol={{ aol }}">Search results</a></li>
      {% endif %}
    {% else %}
      <li><a href="{% url 'courts:list' %}">A-Z list of all courts</a></li>
      <li><a href="{% url 'courts:court' court.slug %}">{{ court.name }}</a></li>
      {% if 'venue_information' in request.path %}
        <li><a href="{% url 'courts:leaflet' court.slug 'venue_information'%}">Venue details print out </a></li>
      {% elif 'defence_witness_information' in request.path %}
        <li><a href="{% url 'courts:leaflet' court.slug 'defence_information'%}">Defence witness information</a></li>
      {% elif 'prosecution_witness_information' in request.path %}
        <li><a href="{% url 'courts:leaflet' court.slug 'prosecution_information'%}">Prosecution witness information</a></li>
      {% elif 'juror_information' in request.path %}
        <li><a href="{% url 'courts:leaflet' court.slug 'juror_information'%}">Juror information</a></li>
      {% endif %}
    {% endif %}
  </ol>
</div>
