{% load static %}
<div id='roles'>
  <h2>Before you give evidence</h2>
  <p>
    You will be accompanied usually by the court usher or a member of the Witness Service to the courtroom,
    where you are going to give your evidence.
  </p>
  <p>
    In the courtroom, you will be asked by the Court Usher to take the oath or affirm in accordance with the
    procedures already explained.
  </p>
  <p>
    If you are not required to give evidence the reason for this will be explained to you.
  </p>
</div>
