{% load static %}
<div id='help'>
  <h2>Help and advice</h2>
  <p>
    If you have any concerns about coming to court or the court experience please speak to a member of staff.
    Court staff can advise you on procedures, give you the forms you need and help you fill them in. They
    cannot however give you legal advice. You may be able to get free legal advice from a law centre, a
    Citizens Advice Bureau or consumer advice centre or alternatively you can contact Community Legal
    Advice on 0845 345 4 345 or www.clsdirect.org.uk. County Courts only: If you want to settle your dispute
    without going to court, find a civil mediation provider at www.civilmediation.justice.gov.uk/.
  </p>
</div>
