{% load static %}
<div id='help'>
  <h2>Help and advice</h2>
  <p>
    <ul>
      <li>
        If you any concerns about coming to a court or tribunal please speak to a member of staff. Please not that they cannot give you legal advice.
      </li>
      <li>
        You may be able to get free legal advice from a law centre Citizens Advice
      </li>
      <li>
        If you have a disability and would like help to access our information and services, please contact a member of staff at the court or tribunal you are visiting to discuss what help you need. If you are a text-phone user you should dial 18001 before the  relevant court or tribunal telephone number:
      </li>
  </p>
</div>
