{% load static %}
<div id='info'>
<h2>How to get there</h2>
    <p>To plan your route to this court, please visit the Court Information and Addresses section of the Justice
    </p>
    <p>
        <b>Website : </b><a href="https://courttribunalfinder.service.gov.uk/search/">CourtFinder</a>
    </p>
    <p>Choose {{court.name}} from the Court Name Search and select Get Court Details. On the Court
      Information page enter your postcode on the Route Planner on the right-hand side to get a detailed
      description of your journey by bus, train or car.
  </p>
</div>
