<div id="header">
    <div id="logo">
        <div id="crest">
        </div>
    </div>    
    <div id="title">
        <h1>{{ title }}</h1>
    </div>
</div>

<a class="button" href="javascript:window.print()">Print this leaflet</a>