{% load static %}
<div id='roles'>
  <h2>On arrival</h2>
  <p>You should arrive at Court at the time notified to you by the Witness Care Unit which is usually 30 minutes
    before the trial or hearing is due to start. If you anticipate any difficulties with getting to the court on time on
    the day, please notify the Witness Care Unit immediately. It is important that the Court knows of any
    possible delay otherwise it may think that you are not coming.
  </p>
  <p>You, as with other court users, will be required to undergo standard security checks.
  </p>
  <p>Unless special arrangements have been made for you, when you arrive at court please go straight to the
    reception point, tell the receptionist your name and that you are a prosecution witness.
  </p>
  <p>If you have asked for support from the Witness Service, you will be introduced to their representative whowill take you to a waiting area.
  </p>
</div>
