{% load static %}
<div id='opening_times'>
  <h2>Opening times</h2>
  {% if court.opening_times %}
  <ul>
    {% for opening_time in court.opening_times %}
      <li>
        <time property="openingHours">{{ opening_time }}</time>
      </li>
    {% endfor %}
  {% endif %}
  </ul>
  <p>
    The waiting area is open to users at least 30 minutes before the first hearing. 
  </p>
</div>
