{% load static %}
<div id='roles'>
  <h2>Roles and Responsibities</h2>
  <h3>The Witness Care Unit:</h3>
  <p>The Witness Care Unit is part of the joint Police and Crown Prosecution team and
    is responsible for providing you, with support, information on the progress of your case and making the
    arrangements for you to attend Court. The Witness Care Unit should be your first point of contact.
  </p>
  <h3>The Witness Service:</h3>
  <p> 
    The Witness Service helps witnesses and victims, their families and friends before,
    during and after a court hearing. It is a national charity, which helps people cope with crime. If you come to court to give evidence a Witness Service representative will offer you support.
  </p>
</div>
