{% load static %}
<div id='safety'>
  <h2>Safety and Security</h2>
  <p>
    Please arrive in sufficient time to allow any security checks to be carried out.
  </p>
  <p>
    Julie's Security Paragraph
  </p>
  <ul>
    <li>Lorem</li>
    <li>Ipsum</li>
  </ul>
</div>
