{% extends "layout/base.jinja" %}
{% load staticfiles %}

{% block stylesheets %}
    <!--[if gt IE 8]><!-->
        <link href="{% static 'stylesheets/main.css' %}" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if gt IE 8]><!-->
        <link href="{% static 'stylesheets/leaflets.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'stylesheets/leaflet-print.css' %}" media="print" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
{% endblock %}

{% block page_title %}You are a Defence Witness
{% endblock %}

{% block content %}

    {% include "courts/leaflets/_breadcrumb.jinja" %}

    <div class="content inner">
        <div id='leaflet'>
            <div class="defence">
                {% include "courts/leaflets/_leaflet_header.jinja" with title='You are a Defence Witness' %}
                {% include "courts/leaflets/defence/_introduction.jinja" %}
                {% include "courts/leaflets/_court.jinja" %}
                {% include "courts/leaflets/_contacts.jinja" %}
                {% include "courts/leaflets/defence/_opening.jinja" %}
                {% include "courts/leaflets/_facilities.jinja" %}
                {% include "courts/leaflets/_roles.jinja" %}
                {% include "courts/leaflets/_before_arrival.jinja" %}
                {% include "courts/leaflets/_on_arrival.jinja" %}
                {% include "courts/leaflets/_before_evidence.jinja" %}
                {% include "courts/leaflets/_giving_evidence.jinja" %}
                {% include "courts/leaflets/_after_evidence.jinja" %}
                {% include "courts/leaflets/_after_case.jinja" %}
                {% include "courts/leaflets/_feedback.jinja" %}
                {% include "courts/leaflets/_additional.jinja" %}
                {% include "courts/leaflets/defence/_info.jinja" %}
            </div>
        </div>
    </div>

{% endblock %}