{% extends "layout/base.jinja" %}

{% load static %}

{% block page_title %}Information Leaflet for {{ court.name }}{% endblock %}


{% block content %}

{% include "courts/leaflets/_breadcrumb.jinja" %}

<div class="content inner">
<header class="page-header">
<h1>{{ court.name }}</h1>
</header>
<br>
<a href="javascript:window.print()">print this leaflet</a>
<br/>

<br>
{{ court.info_leaflet }}
<br>
{{ court.defence_leaflet }}
<br>
{{ court.juror_leaflet }}
<br>
{{ court.prosecution_leaflet }}
</div>

{% endblock %}