{% extends "layout/base.jinja" %}
{% load staticfiles %}

{% block stylesheets %}
    <!--[if gt IE 8]><!-->
        <link href="{% static 'stylesheets/main.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if gt IE 8]><!-->
        <link href="{% static 'stylesheets/leaflets.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
{% endblock %}

{% block page_title %}Information Leaflet for {{ court.name }}
{% endblock %}

{% block content %}

    {% include "courts/leaflets/_breadcrumb.jinja" %}

    <div class="content inner">
        <header class="page-header">
            <h1>{{ court.name }}</h1>
        </header>
        <br>
        <a href="javascript:window.print()">print this leaflet</a>
        {% include "courts/leaflets/_court.jinja" %}
    </div>

{% endblock %}