{% extends "layout/base.jinja" %}
{% load staticfiles %}

{% block stylesheets %}
    <!--[if gt IE 8]><!-->
        <link href="{% static 'stylesheets/main.css' %}" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if gt IE 8]><!-->
        <link href="{% static 'stylesheets/leaflets.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'stylesheets/leaflet-print.css' %}" media="print" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
{% endblock %}

{% block page_title %}You are a Juror
{% endblock %}

{% block content %}

    {% include "courts/leaflets/_breadcrumb.jinja" %}

    <div class="content inner">
        <div id='leaflet'>
            <div class="juror">
                {% include "courts/leaflets/_leaflet_header.jinja" with title=court_title %}
                {% include "courts/leaflets/juror/_court.jinja" %}
                {% include "courts/leaflets/juror/_contacting.jinja" %}
                {% include "courts/leaflets/juror/_attendance.jinja" %}
                {% include "courts/leaflets/juror/_travel.jinja" %}
                {% include "courts/leaflets/_facilities.jinja" %}
                {% include "courts/leaflets/juror/_meals.jinja" %}
                {% include "courts/leaflets/juror/_whilst_at_court.jinja" %}
                {% include "courts/leaflets/juror/_info.jinja" %}
            </div>
        </div>
    </div>

{% endblock %}