# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# IDEs
.mr.developer.cfg
.project
.pydevproject
.idea/
tags
cscope.out

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# NodeJs
node_modules/
reports/
npm-debug.log

# bower packages
courtfinder/assets/
courtfinder/assets-src/vendor/
.sass-cache/
generated/

# gulp temp folder
.gulptmp

# Tern is a stand-alone code-analysis engine for JavaScript http://ternjs.net
.tern-port

# build products
BUILD_VERSION.json
