{% load static %}
<div id='contacts'>
  <h2>Attendance at court</h2>
  <p>For information on when to arrive, please refer to the time on your confirmation letter. For subsequent
    days, you will be told when to arrive at court. The court normally sits from 10.00am to 4.30pm each
    day. However, depending on the way the trial progresses, the judge may ask you to sit longer or
    shorter hours on a daily basis. You will be notified by court staff about timings for lunch.
</p>
</div>
