{% load static %}
<div id='contacts'>
  <h2>Attendance at court</h2>
  <p>
     Lorem ipsum dolor sit amet, mei aliquip insolens referrentur an, mei atqui falli diceret ne, hinc persequeris eos id. Et utamur eloquentiam vix, summo soluta explicari usu ea. Ius eu dicat vivendum invenire, an simul soluta lobortis eos. Pro quaeque omnesque et, eu pri impetus mentitum persequeris, qui vidisse aperiri officiis et. Ex mei reque malis aeque, ne sed idque alterum.
</p>
</div>
