{% load static %}
<div id='contacts'>
  <h2>Contacting the court</h2>
  <p>Before you start your jury service: For any queries about your jury service in the week before you
    are due to attend, please contact the court directly and not the Jury Central Summoning Bureau.
    Please contact the jury team at the court on 01202 502 879.
  </p>

  <p>When you are on jury service: If you become ill, please telephone the court on 01202 502 800 for
    advice. Do not obtain a medical certificate unless the court asks for one. If someone needs to contact
    you urgently, a message may be left on the above number.
  </p>
</div>
