{% load static %}
<div id='contacts'>
    <h2>Meals and refreshments</h2>
    <p>There is a restaurant for jurors within the court building serving breakfast, lunch, drinks, sandwiches
        and snacks. You will be given a card for your use in the restaurant, which will enable you to spend up
        to your allowance without using cash. See 'Subsistence' section of the 'Allowances' leaflet. If you have
        any particular dietary requirements, please speak to the jury team at court. You may also choose to
        bring a packed lunch if you wish. You may wish to bring coins for the use of vending machines.
    </p>
</div>
