{% load static %}
<div id='contacts'>
  <h2>Travelling to court</h2>
  <p>
      Travelling by train: Bournemouth Train Station is 3 miles away .
  </p>
  <p>
      Travelling by bus: Local Yellow Bus and Wilts and Dorset Buses run a regular service along Castle
Lane East stopping outside the Royal Bournemouth Hospital, which is a 5 minute walk from the court.
Please note that westward bound Wilts & Dorset buses do not stop by the hospital or beyond the
turning to the court on Castle Lane . This can add 10 to 15 minutes to the travel as 11 lanes of traffic
have to be negotiated by pedestrian crossings to get into Deansleigh road. Timetable and route
information can be obtained by phoning 01202 63600 (Yellow Buses) or 0121 673555 (Wilts & Dorset).
  </p>
  <p>
      Parking: Jurors wishing to travel by private motor vehicle do so entirely at their own risk. The courts
cannot accept liability or undertake to consider any claim for any loss or damage to the vehicle or it's
contents. Some car parking is available at the court, but spaces are very limited and cannot be
guaranteed. The car park is usually full by 9.30am and there are no alternative parking facilities
nearby. As all roads in the immediate area have double yellow lines you are strongly advised to travel
by public transport wherever possible.
  </p>
  <p>
      Using a taxi: See the 'Warning' under 'Travel' on the 'Allowances' leaflet.
  </p>
   <p id="map-link">
        <a target="_blank" href="https://maps.google.com/maps?q={{court.lat}},{{court.lon}}">
          <img src="https://maps.googleapis.com/maps/api/staticmap?size=600x400&zoom=15&markers={{court.lat}},{{court.lon}}&key=AIzaSyC_b504UmVatMNUg1HCmbyuXoJ8meK6lpA" alt="map showing the location of {{ court.name }} (link opens external website in new window)"/>
      </a>
      <p><img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" alt='Google map marker'><span>- Location of {{court.name}}</span></s></p>
  </p>
</div>
