{% load static %}
<div id='contacts'>
    <h2>Important information whilst at court</h2>
    <p>In the unlikely event of an emergency, court staff may ask you to provide a contact name and number
        of a family member or friend.
    </p>
    <h3>Please do not bring:</h3>
    <ul>
        <li>
            <p>
               The use of cameras or recording equipment is prohibited within all court buildings. Mobile phones
               with features such as cameras or recording equipment are permitted, but the additional features
               must not be used in the court building . 
           </p>
       </li>
       <li>
            <p>
                Sharp objects such as knives are not allowed in the court building and if brought to court they will be
                removed by security and will not be returned when you leave. If carrying a kirpan this must be
                concealed and the overall length must not exceed 6 inches, (2 inches handle, 4 inches blade). 
            </p>
        </li>
    </ul>        
</div>
