{% extends "layout/base.jinja" %}
{% load static %}

{% block page_title %}{{ court.name }}{% endblock %}

{% block content %}
<div id="global-breadcrumb" class="header-context">
  <ol role="breadcrumbs" class="group">
    <li><a href="{% url 'staticpages:home' %}">Home</a></li>
    <li><a href="{% url 'search:search' %}">Find a court or tribunal</a></li>
    {% if query or courtcode %} 
      {% if query %} 
        <li><a href="{% url 'search:address' %}">Search by name of address</a></li>
        <li><a href="{% url 'search:results' %}?q={{ query }}">Search results</a></li>
      {% elif courtcode %}
        <li><a href="{% url 'search:courtcode' %}">Search by Court location code</a></li>
        <li><a href="{% url 'search:results' %}?courtcode={{ courtcode }}">Search results</a></li>
      {% endif %}
    {% elif postcode %}
      <li><a href="{% url 'search:aol' %}?aol={{aol}}">About your issue</a></li>
      {% if spoe %}
        <li><a href="{% url 'search:spoe' %}?aol={{aol}}&spoe={{spoe}}">Additional info</a></li>
        <li><a href="{% url 'search:postcode' %}?aol={{aol}}&spoe={{spoe}}&postcode={{postcode}}">Search by postcode</a></li>
        <li><a href="{% url 'search:results' %}?postcode={{ postcode }}&spoe={{ spoe }}&aol={{ aol }}">Search results</a></li>
      {%   else %}
        <li><a href="{% url 'search:postcode' %}?aol={{aol}}&postcode={{postcode}}">Search by postcode</a></li>
        <li><a href="{% url 'search:results' %}?postcode={{ postcode }}&aol={{ aol }}">Search results</a></li>
      {% endif %}
    {% else %}
      <li><a href="{% url 'courts:list' %}">A-Z list of all courts</a></li>
    {% endif %}
  </ol>
</div>
<div id="court-detail-page" class="content inner cf court" vocab="http://schema.org" typeof="Courthouse">
  <header class="page-header">
    <h1>{{ court.name }}</h1>
  </header>
  {% if not court.displayed %}
  <div class="alert">
    <p>This court or tribunal is no longer in service. Business has been transferred to other neighbouring courts.</p>
    <p><a href="{% url 'search:postcode' %}">Please use the postcode lookup facility to find your alternative court</a></p>
  </div>
  {% else %}
  <div>
    <div id="addresses">
      {% if court.visiting_address %}
      <div id="visiting" property='address' typeof='http://schema.org/PostalAddress'>
        <h2>Visit us:</h2>
        <span property="streetAddress">
        {% for line in court.visiting_address.address_lines %}
        {{ line }}<br/>
          {% endfor %}
        </span>
        <span property="addressLocality">{{ court.visiting_address.town }}</span><br/>
        {% if court.visiting_address.county != court.visiting_address.town %}
        <span property="addressRegion">{{ court.visiting_address.county }}</span><br/>
        {% endif %}
        <span property="postalCode">{{ court.visiting_address.postcode }}</span>
        <p id="map-link">
          <a href="https://maps.google.com/maps?q={{ court.lat }},{{ court.lon }}" target="_blank">Maps and directions <img src="{% static 'images/external-links/external-link-black-24x24.png' %}" alt="link opens an external website in a new window"/></a>
        </p>
      </div>
      {% endif %}
      {% if court.postal_address %}
      <div id="postal">
        <h2>Write to us:</h2>
        {% for line in court.postal_address.address_lines %}
        {{ line }}<br/>
        {% endfor %}
        {{ court.postal_address.town }}<br/>
        {% if court.postal_address.county != court.postal_address.town %}
        {{ court.postal_address.county }}<br/>
        {% endif %}
        {{ court.postal_address.postcode }}
      </div>
      {% endif %}
      {% if court.number or court.dx_number %}
      <div id="pros">
        <dl>
          {% if court.number %}
          <dt>Court location/tribunal no.</dt>
          <dd>{{ court.number }}</dd>
          {% endif %}
          {% if court.dx_number %}
          <dt><abbr title="document exchange">DX</abbr>:</dt>
          <dd>{{ court.dx_number }}</dd>
          {% endif %}
        </dl>
      </div>
      <br/>
      {% endif %}
    </div>
    {% if court.image_file %}
    <div id="photo">
      <img property="image" src="https://courtfinder-servicegovuk-production.s3.amazonaws.com/images/{{ court.image_file }}" alt="picture of the court or tribunal building"/>
    </div>
    {% endif %}
    <div id="left">
      {% if court.alert %}
      <div class="alert">
        <p class="alert-icon"><img src="https://assets.digital.cabinet-office.gov.uk/static/icon-important-187bcc8d8a6d56498c4ac26cadad102d.png" alt="Important information"/></p>
        <p>{{ court.alert|striptags }}</p>
      </div>
      {% endif %}

      <div id="opening-times">
        {% if court.opening_times %}
        <h2>Opening hours</h2>
        <ul>
        {% for opening_time in court.opening_times %}
          <li><time property="openingHours">{{ opening_time.description }}</time></li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div id="contacts">
        {% if court.emails %}
        <h2>Email</h2>
        <ul>
          {% for email in court.emails %}
          <li property="contactPoint" typeof="ContactPoint">
            {% if email.description != '' %}
            <span property="contactType">{{ email.description }}</span>:&nbsp;
            {% endif %}
            {% for address in email.addresses %}
              <a property="email" href="mailto:{{ address }}">{{ address }}</a>{% if not forloop.last %}<span>, </span>{% endif %}
            {% endfor %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if court.contacts %}
        <h2>Phone numbers</h2>
        <ul>
          {% for contact in court.contacts %}
          {% if contact.name != 'DX' %}
            <li property="contactPoint" typeof="ContactPoint">
              {% if contact.name != '' %}
              <span property="contactType">{{ contact.name }}</span>:&nbsp;
              {% endif %}
              {% for number in contact.numbers %}
                <a property="telephone" href="tel:{{ number }}">{{ number }}</a>{% if not forloop.last %}<span>, </span>{% endif %}
              {% endfor %}
            </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      {% if court.directions %}
      <div id="directions">
        <h2>Local information</h2>
        <p>{{ court.directions|striptags }}</p>
      </div>
      {% endif %}

      <div id="facilities">
        <h2>Building facilities</h2>
        <p>If you have a disability and need help coming to a hearing, please contact the court or tribunal to make sure the facilities meet your specific needs or to discuss a reasonable adjustment you need.</p>
        {% if court.facilities %}
        <ul>
        {% for facility in court.facilities %}
          <li><span class="icon"><img src="{% static 'images/facility_icons.png' %}" class="icon-{{ facility.image }}" alt="{{ facility.image_description }}"></span><span class="facility">{{ facility.description|default:""|striptags }}</span></li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>

      {% if court.parking %}
      <div>
        <h2>Parking</h2>
        <ul>
        {% if court.parking.onsite %}
          <li>{{ court.parking.onsite }}</li>
        {% endif %}
        {% if court.parking.offsite %}
          <li>{{ court.parking.offsite }}</li>
        {% endif %}
        {% if court.parking.blue_badge %}
          <li>{{ court.parking.blue_badge }}</li>
        {% endif %}
        </ul>
      </div>
      {% endif %}

      {% if court.info %}
        <div>
          <h2>Further Information</h2>
          <p>{{ court.info|safe }}</p>
        </div>
      {% endif %}

    </div>

    <div id="areas_of_law">
      {% if court.areas_of_law %}
      <h2>Cases heard at this venue</h2>
      <ul>
        {% for aol in court.areas_of_law %}
          {% if aol.external_link %}
            <li><a href={{aol.display_url}} title="{{aol.external_link_desc}}">
              <span class='screen_reader_hide'>{{aol.external_link_desc}}</span>{{ aol.name }}</a></li>
          {% else %}
            <li>{{ aol.name }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div id="useful_links">
    <h2>Useful links:</h2>
      <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/FormFinder.do">Find a form</a>
      <br/>
      <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">Make a complaint</a>
    </div>
  </div>
  {% endif %}
  <div id="last_update">
    Last updated: {{ court.updated_at }}
  </div>
</div>

{% endblock %}
