{% extends "layout/base.jinja" %}
{% load static %}
{% load courttags %} 

{% block page_title %}{{ court.name }}{% endblock %}

{% block content %}
<div id="global-breadcrumb" class="header-context">
  <ol role="breadcrumbs" class="group">
    <li><a href="{% url 'staticpages:home' %}">Home</a></li>
    <li><a href="{% url 'search:search' %}">Find a court or tribunal</a></li>
    {% if query or courtcode %} 
      {% if query %} 
        <li><a href="{% url 'search:address' %}">Search by name of address</a></li>
        <li><a href="{% url 'search:results' %}?q={{ query }}">Search results</a></li>
      {% elif courtcode %}
        <li><a href="{% url 'search:courtcode' %}">Search by Court location code</a></li>
        <li><a href="{% url 'search:results' %}?courtcode={{ courtcode }}">Search results</a></li>
      {% endif %}
    {% elif postcode %}
      <li><a href="{% url 'search:aol' %}?aol={{aol}}">About your issue</a></li>
      {% if spoe %}
        <li><a href="{% url 'search:spoe' %}?aol={{aol}}&spoe={{spoe}}">Additional info</a></li>
        <li><a href="{% url 'search:postcode' %}?aol={{aol}}&spoe={{spoe}}&postcode={{postcode}}">Search by postcode</a></li>
        <li><a href="{% url 'search:results' %}?postcode={{ postcode }}&spoe={{ spoe }}&aol={{ aol }}">Search results</a></li>
      {%   else %}
        <li><a href="{% url 'search:postcode' %}?aol={{aol}}&postcode={{postcode}}">Search by postcode</a></li>
        <li><a href="{% url 'search:results' %}?postcode={{ postcode }}&aol={{ aol }}">Search results</a></li>
      {% endif %}
    {% else %}
      <li><a href="{% url 'courts:list' %}">A-Z list of all courts</a></li>
    {% endif %}
  </ol>
</div>
<div id="court-detail-page" class="content inner cf court" vocab="http://schema.org" typeof="Courthouse">
  <header class="page-header">
    <h1>{{ court.name }}</h1>
  </header>
  {% if not court.displayed %}
  <div class="alert">
    <p>This court or tribunal is no longer in service. Business has been transferred to other neighbouring courts.</p>
    <p><a href="{% url 'search:postcode' %}">Please use the postcode lookup facility to find your alternative court</a></p>
  </div>
  {% else %}
  <div>
    <div id="addresses">
      {% if court.postal_address.type.name != 'Visit us or write to us' and court.visiting_address %}
        <div id="visiting" property='address' typeof='http://schema.org/PostalAddress'>
          <h2>Visit us:</h2>
          <span property="streetAddress">
            {% for line in court.visiting_address.address_lines %}
              {{ line }}<br/>
            {% endfor %}
          </span>
          <span property="addressLocality">{{ court.visiting_address.town }}</span><br/>
          <span property="postalCode">{{ court.visiting_address.postcode }}</span>
          {% if court.lat and court.lon %}
            <p id="map-link">
              <a href="https://maps.google.com/maps?q={{ court.lat }},{{ court.lon }}" target="_blank">Maps and directions <img src="{% static 'images/external-links/external-link-black-24x24.png' %}" alt="link opens an external website in a new window"/></a>
            </p>
          {% endif %}
        </div>
      {% endif %}
      {% if court.postal_address %}
        <div id="postal">
          {% if court.postal_address.type.name == 'Visit us or write to us' %}
            <h2>Visit or write to us:</h2>
          {% else %}
            <h2>Write to us:</h2>
          {% endif %}
          {% for line in court.postal_address.address_lines %}
            {{ line }}<br/>
          {% endfor %}
          {{ court.postal_address.town }}<br/>
          {{ court.postal_address.postcode }}
          {% if court.postal_address.type.name == 'Visit us or write to us' %}
            {% if court.lat and court.lon %}
              <p id="map-link">
                <a href="https://maps.google.com/maps?q={{ court.lat }},{{ court.lon }}" target="_blank">Maps and directions <img src="{% static 'images/external-links/external-link-black-24x24.png' %}" alt="link opens an external website in a new window"/></a>
              </p>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
      {% if court.number or court.cci_code or court.magistrate_code or court.dx_number  %}
      <div id="pros">
        <dl>
          {% if court.number %}
          <dt>Crown Court location code:</dt>
          <dd>{{ court.number }}</dd>
          {% endif %}
          {% if court.cci_code %}
          <dt>County Court location code:</dt>
          <dd>{{ court.cci_code }}</dd>
          {% endif %}
          {% if court.magistrate_code %}
          <dt>Magistrates' Court location code:</dt>
          <dd>{{ court.magistrate_code }}</dd>
          {% endif %}
          {% if court.dx_number %}
          <dt><abbr title="document exchange">DX</abbr>:</dt>
          <dd>{{ court.dx_number }}</dd>
          {% endif %}
        </dl>
      </div>
      <br/>
      {% endif %}
    </div>
    {% if court.image_file %}
      <div id="photo">
        <img property="image" src="{{ court.image_url }}" alt="picture of the court or tribunal building"/>
      </div>
    {% endif %}
    <div id="left">
      {% if court.alert %}
      <div class="alert">
        <img class="alert-icon" src="https://assets.digital.cabinet-office.gov.uk/static/icon-important-187bcc8d8a6d56498c4ac26cadad102d.png" alt="Important information"/>
        <p>{{ court.alert|striptags }}</p>
      </div>
      {% endif %}

      {% if court.info %}
      <div>
          <h2>Additional Information</h2>
          {{ court.info|safe }}
      </div>
      {% endif %}

      <div id="opening-times">
        {% if court.opening_times %}
        <h2>Opening hours</h2>
        <ul>
        {% for opening_time in court|court_opening_times_ordered %}
            <li><time property="openingHours">{{ opening_time.description }}</time></li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div id="contacts">
        {% if court.emails %}
        <h2>Email</h2>
          {% for email in court.emails %}
          <div class="email-label" property="contactPoint" typeof="ContactPoint">
          {% if email.description != '' %}
            <span class="label-pad" property="contactType" typeof="ContactPoint">{{email.description}}:</span>
          {% endif %}
          </div>
          <div class="email-addresses">
            {% for address in email.addresses %}
              <a property="email" href="mailto:{{ address }}">{{ address }}</a>{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </div>
          <div class="contact-explanation" >
            {% if email.explanation != None and email.explanation != '' %}
              ({{ email.explanation }})
            {% endif %}
          </div>
          <div class="spacer"></div>
          {% endfor %}
        {% endif %}
        {% if court.contacts %}
        <h2>Phone numbers</h2>
          {% for contact in court.contacts %}
          {% if contact.name != 'DX' %}
            <div class="phone-label" property="contactPoint" typeof="ContactPoint">
              {% if contact.name != '' %}
                <span class="label-pad" property="contactType">{{ contact.name }}:</span>
              {% endif %}
            </div>
            <div class="phone-number">  
              {% for number in contact.numbers %}
                <a property="telephone" href="tel:{{ number }}">{{ number }}</a>{% if not forloop.last %}<br>{% endif %}
              {% endfor %}
            </div>
            <div class="contact-explanation" >
              {% if contact.explanation != None and contact.explanation != '' %}
                ({{ contact.explanation }})
              {% endif %}
            </div>
          {% endif %}
           <div class="spacer"></div>
          {% endfor %}
        {% endif %}
      </div>

      {% if court.directions %}
      <div id="directions">
        <h2>Local information</h2>
        <p>{{ court.directions|striptags }}</p>
      </div>
      {% endif %}

      <div id="facilities">
        <h2>Building facilities</h2>
        <p>If you have a disability and need help coming to a hearing, please contact the court or tribunal to make sure the facilities meet your specific needs or to discuss a reasonable adjustment you need.</p>
        {% if court.facilities %}
        <ul>
        {% for facility in court.facilities %}
          <li>
            <span class="icon">
              {% if facility.image_src %}
              <img src="{% static facility.image_src %}" class="{{ facility.image_class }}" alt="{{ facility.image_description }}">
              {% endif %}
            </span>
            <span class="facility">{{ facility.description|default:""|safe }}</span>
          </li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>

      {% if court.parking %}
      <div>
        <h2>Parking</h2>
        <ul>
        {% if court.parking.onsite %}
          <li>{{ court.parking.onsite }}</li>
        {% endif %}
        {% if court.parking.offsite %}
          <li>{{ court.parking.offsite }}</li>
        {% endif %}
        {% if court.parking.blue_badge %}
          <li>{{ court.parking.blue_badge }}</li>
        {% endif %}
        </ul>
      </div>
      {% endif %}
    </div>

    <div id="areas_of_law">
      {% if court.areas_of_law %}
        {% if court.hide_aols %}
          <h2>More information...</h2>
        {% else %}
          <h2>Cases heard at this venue</h2>
        {% endif %}
        <ul>
          {% for aol in court.areas_of_law %}
            {% if aol.external_link %}
              <li><a href={{aol.display_url}} title="{{aol.external_link_desc}}">
                <span class='screen_reader_hide'>{{aol.external_link_desc}}</span>{{ aol.name }}</a></li>
            {% else %}
              <li>{{ aol.name }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div id="useful_links">
    <h2>Useful links:</h2>
      <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/FormFinder.do" title="Open the Formfinder tool to obtain the right form for your issue.">Find a form</a>
      <br/>
      <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure" title="Information on providing feedback about our services and making a complaint.">Make a complaint</a>
      {% if 'Crown Court' in court.types %}
      <br/>
      <a href="https://www.gov.uk/jury-service">About jury service</a>
      {% endif %}
    </div>
  {% if feature_leaflet_enabled %}
   <div id="leaflets">
    <h2>Leaflets for printing:</h2>
      <a href={% url 'courts:leaflet' court.slug 'venue_information' %} title='Venue details for printing'>Venue details</a>
      <br/>
      {% if 'Crown Court' in court.types or 'Magistrates Court' in court.types %}
      <a href={% url 'courts:leaflet' court.slug 'defence_witness_information'%} title='Witness for defence information for printing'>Witness for defence</a>
      <br/>
      <a href={% url 'courts:leaflet' court.slug 'prosecution_witness_information'%} title='Witness for prosecution information for printing'>Witness for prosecution</a>
      <br/>
      {% endif %}
      {% if 'Crown Court' in court.types %}
        <a href={% url 'courts:leaflet' court.slug 'juror_information'%} title='Juror information for printing'>Juror information</a>
        <br/>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endif %}
</div>

{% endblock %}
