{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="content inner cf">
    <ul class="nav-menu">
        <li><a href="{% url 'admin:courts' %}">courts</a></li>
        {% if perms.super %}
        <li><a href="{% url 'admin:emergency' %}">emergency message</a></li>
        <li><a href="{% url 'admin:users' %}">users</a></li>
        <li><a href="{% url 'admin:facility_types' %}">lists</a></li>
        {% endif %}
        <li class="right-link"><a href="{% url 'admin:logout' %}">log out</a></li>
        <li class="right-link"><a href="{% url 'admin:account' %}">my account</a></li>
    </ul>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
{% block admin %}{% endblock %}
{% endblock %}


{% block javascripts %}
<script src="{% static 'javascripts/vendor/tinymce/tinymce.min.js' %}" type="text/javascript"></script>
<script src="{% static 'javascripts/vendor/jquery-ui-1.12.1/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'javascripts/admin.js' %}" type="text/javascript"></script>
{% endblock %}