{% extends "admin.jinja" %}

{% block page_title %}Courts and tribunals{% endblock %}

{% block content %}
  <div id="admin-index-page" class="content inner cf">
    <header class="page-header">
      <h2>Courts and tribunals</h2>
    </header>
  </div>
{% endblock %}
