{% extends "admin.jinja" %}

{% block page_title %}Courts and tribunals{% endblock %}

{% block content %}
  <div id="admin-index-page" class="content inner cf">
    <header class="page-header">
      <h2>Courts and tribunals</h2>
    </header>
    <table>
      <tr>
        <th>name</th>
        <th>status</th>
        <th colspan="2">actions</th>
      </tr>
      {% for court in courts %}
      <tr>
        <td>{{ court.name }}</td>
        <td>{% if not court.displayed %} closed {% endif %}</td>
        <td><a target="_blank" href="{% url 'courts:court' court.slug %}">view</a></td>
        <td><a href="{% url 'admin:court' court.id %}">edit</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
