{% extends "admin.jinja" %}

{% block page_title %}Edit court{% endblock %}

{% block content %}
  <div id="court_edit-page" class="content inner cf">
    <header class="page-header">
      <h2>Editing - {{ court.name }}</h2>
    </header>
  </div>
{% endblock %}
