<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Court and Tribunal Finder - GOV.UK</title>
  <link rel="stylesheet" type="text/css" href="{{ static("style.css") }}" />
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>