{% load static %}
<div id='contacts'>
  <h2>Who to contact</h2>
  <p>
    Berkshire Witness Care Unit<br/>
    Eaton Court, 112 Oxford Road, Reading, RG1 7LL
  </p>
  <p>
    No general contact for this unit
    Telephone : 01189 513255
    Fax : 01189 513299
  </p>
  <p>
    wcu.berkshire@thamesvalley.pnn.police.uk
  </p>
  <p>
    Witness Service</br>
    Gerry Duggan - 0118 967 4490
  </p>
</div>
