{% load static %}
<div id='introduction'>
  <h2>Introduction</h2>
  <p>
    You may be a witness, victim or a parent of a child witness/victim. The following information in these pages
    will help answer some of the questions you may have about going to court and will help you understand
    what happens at court.
  </p>
</div>
