{% extends "admin.html" %}

{% block page_title %}Courts and tribunals{% endblock %}

{% block admin %}
  <div id="admin-index-page" class="content inner cf">
    <header class="page-header">
      <h2>Courts and tribunals</h2>
    </header>
    {% if perms.court.new %}
        <a class="right-link" href="{% url 'admin:new_court' %}">add new court</a>
    {% endif %}
    <p>
      Sort by: <a href="?sort=name">name</a> | <a href="?sort=updated_at">last updated</a>
    </p>
    <form>
      <p>
        <label>include closed</label>
        <input id="closed-court-toggle" autocomplete="off" type="checkbox">
      </p>
      <p>
        <label>search</label>
        <input id="court-search-box" autocomplete="off" type="text">
      </p>
    </form>
    <table id="court-list">
      <tr>
        <th>name</th>
        <th></th>
        <th class="date">last updated</th>
        <th colspan="2"></th>
      </tr>
      {% for court in courts %}
      <tr class="{% if not court.displayed %} closed-court hidden {% endif %}">
        <td>{{ court.name }}</td>
        <td>{% if not court.displayed %} closed {% endif %}</td>
        <td class="date">{{ court.updated_at|date:"d M Y" }}</td>
        <td><a target="_blank" href="{% url 'courts:court' court.slug %}">view</a></td>
        <td><a href="{% url 'admin:court' court.id %}">edit</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
