{% extends "court/base.html" %}

{% block details %}
    {% if heading %}<h3>{{ heading }} {% if formset|length > 2 and ordering %}- <a href="{{reorder_url}}">reorder</a>{% endif %}</h3>{% endif %}
    {% if header_message %}<p>{{ header_message }}</p>{% endif %}
    <form method="post" action="{{return_url}}">
    {{ formset.management_form }}
    {% for form in formset %}

      <fieldset class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        {% if not forloop.last %}
        <hr>
        {% endif %}
      </fieldset>

    {% endfor %}

    <input type="submit" class="button" name="Update" value="Update" />
    </form>

{% endblock %}
