{% extends "court/base.html" %}

{% block details %}
    {% if heading %}<h3>{{ heading }} {% if formset|length > 1 and ordering %}- <a href="{{reorder_url}}">reorder</a>{% endif %}<a class="right-link" href="{{add_url}}">Add new {{orderable_name}}</a></h3>{% endif %}
    {% if header_message %}<p>{{ header_message }}</p>{% endif %}
{% if formset|length > 0 %}
<form method="post" action="{{return_url}}">
    {{ formset.management_form }}
    {% for form in formset %}

      <fieldset class="form-group orderable">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="destroy">
          <div class="undo_msg" style="display: none;">This {{orderable_name}} will be removed.</div>
          <button class="remove secondary">remove</button>
          <button class="undo secondary" style="display: none;">undo</button>
        </div>
        {% if not forloop.last %}
        <hr>
        {% else %}
        <br>
        {% endif %}
      </fieldset>

    {% endfor %}

    <input type="submit" class="button" name="Update" value="Update" />
    </form>
{% else %}
<p>There is no {{orderable_name}} listed for this court</p>
{% endif %}
{% endblock %}
