{% extends "admin.html" %}

{% block page_title %}Add user{% endblock %}

{% block admin %}
  <div id="admin-add-user-page" class="content inner cf">
    <header class="page-header">
      <h2>Add user</h2>
    </header>
    <form class="user" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="button" value="Add user" />
    </form>
    <button id="generate-password" data-pass="{{random_password}}" class="button-secondary">
      Generate password</button>
  </div>
{% endblock %}
