{% extends "admin.html" %}

{% block page_title %}User management{% endblock %}

{% block content %}
  <div id="admin-users-page" class="content inner cf">
    <header class="page-header">
      <h2>User management</h2>
    </header>
    <p>
      <a href="{% url 'admin:add_user' %}">add new user</a>
    </p>
    <table>
      <tr>
        <th>username</th>
        <th>first name</th>
        <th>last name</th>
        <th>email</th>
        <th>last login</th>
        <th>access level</th>
        <th></th>
      </tr>
      {% for user in users%}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.last_login|default:'never' }}</td>
        <td>{% if user.is_superuser %} super admin {% endif %}</td>
        <td><a href="{% url 'admin:edit_user' user.username %}">edit</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
