{% extends "layout.jinja" %}

{% block title %}Search{% endblock %}

{% block body %}
  <h1>Search</h1>

  <p>
    <input type="text" name="search" />
    <button type="submit">Search</button>
  </p>
{% endblock %}