{% extends "base.jinja" %}

{% block content %}
<div id="login-page" class="content inner cf">
  <header class="page-header">
    <h2>Log in to continue</h2>
  </header>
  <div class="group">
      <form method="post" action="{% url 'admin:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" class="button" value="Log in" />
      </form>
  </div>
  <div class="group">
    <p><a href="{% url 'admin:password_reset' %}">Lost password?</a></p>
  </div>
</div>

{% endblock %}