{% extends "layout/base.jinja" %}

{% block page_title %}Find a court or tribunal - API - GOV.UK{% endblock %}

{% block content %}
<div class="content inner cf">
  <header class="page-header">
    <h1>Alternate Formats, API and Linked Data</h1>
  </header>
  <div class="group">

    <p>This page describes Courtfinder's alternate access methods, including its API. It also provides information about the machine-readable HTML markup used. Please note that these site features are experimental and may be modified, depending on data consumer requirements. We'll do our best to make all changes backwards compatible.</p>

    <h2>The Search API</h2>

    <p>Any search result is available as HTML or JSON</p>

    <ul>
      <li>HTML: <a href="/search/results?q=old+bailey"><code>/search/results?q=old+bailey</code></a></li>
      <li>JSON: <a href="/search/results.json?q=old+bailey"><code>/search/results.json?q=old+bailey</code></a></li>
    </ul>

    <ul>
      <li>HTML: <a href="/search/results?postcode=SW1H9AJ&area_of_law=Civil+partnership"><code>/search/results?postcode=SW1H9AJ&area_of_law=Civil+partnership</code></a></li>
      <li>JSON: <a href="/search/results.json?postcode=SW1H9AJ&area_of_law=Civil+partnership"><code>/search/results.json?postcode=SW1H9AJ&area_of_law=Civil+partnership</code></a></li>
    </ul>

    <p>The format of the JSON version is self explanatory.</p>

    <p>The API uses the usual HTTP response codes in case of errors:</p>
    <ul>
      <li>If there are no results, the API returns a 200 response with an empty JSON array (<code>[ ]</code>)</li>
      <li>If the service is unable to fulfill the request (eg if the third-party postcode service isn't responding), it will return a 500 response, with explanations in the response body.</li>
      <li>If the query is mal-formed (eg <code>/search/results.json?postcode=</code>), a 400 HTTP response is returned also with some explanations in the body.</li>
    </ul>

    <h2>Court and Tribunal data as JSON files</h2>

    <p>A complete JSON dump of the court data is available at: <a href="/courts.json"><code>/courts.json</code></a>.</p>

    <h2>Semantic Markup</h2>

    <p>The HTML version of court pages is augmented with metadata contained within tags in the HTML markup. Those tags aren't visible on the page, but can be used by scrapers to extract the data.</p>

    <p>More information is available at MOJ Digital's blog entry on Open Data Markup. Or just look at the markup of any court page and look for the <code>vocab</code>, <code>typeof</code> and <code>property</code> attributes. Those attributes are part of the <a href="http://rdfa.info/">RDFa</a> markup, and the attribute values use the <a href="http://schema.org/">schema.org</a> vocabulary (in particular the <a href="http://schema.org/Courthouse">Courthouse</a> type).</p>

  </div>
</div>
{% endblock %}
