{% extends "layout/base.jinja" %}
{% load i18n %}
{% block page_title %}{% trans "Court and Tribunal Finder" %} - {% trans "Feedback sent" %}{% endblock %}

{% block content %}
<div id="global-breadcrumb" class="header-context">
  <ol role="breadcrumbs" class="group">
    <li><a href="{% url 'staticpages:home' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'search:search' %}">{% trans "Find a court or tribunal" %}</a></li>
  </ol>
</div>
<div class="content inner cf">
  <header class="page-header">
    <h1>{% trans "Thank you for your feedback" %}</h1>
  </header>
</div>
{% endblock %}
