{% extends "layout/base.jinja" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="content inner cf">
  <header class="page-header group">
    <div>
      <h1>Find a court of tribunal</h1>
    </div>
  </header>
  
  <p>Find details and information about courts and tribunals including:</p>
  <ul>
    <li>address</li>
    <li>contact details</li>
    <li>opening times</li>
    <li>how to get to the court or tribunal</li>
    <li>the areas of law it covers</li>
  </ul>
  <a href="/search/" class="button">Start now</a>
</div>
{% endblock %}
