h3 {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0 10px 0;
}

h2, h3 {
  a {
    font-weight: normal;
  }
}

$link-color: #005ea5;

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $link-color;
  }
}

.button {
  margin-top: 0px;
}

input[type=checkbox] {
  transform: scale(1.3);
}

ul.nav-menu {
  margin: 10px 0;

  li {
    list-style: none;
    text-align: center;
    display: inline-block;
    &:not(.right-link) {
      margin-right: 20px;
    }
    &.right-link {
      margin-left: 20px;
    }
  }

  a {
    text-decoration: none;
    color: #005ea5;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: #005ea5;
    }
  }
}

.view-court-link {
  font-size: initial;
  padding-left: 5px;
}

.right-link {
  float:right;
  margin-right: 0px;
}

#court-list {
  .date {
    text-align: right;
  }
}

form {
  margin-bottom: 20px;
  label{
    width: 150px;
    margin: 0px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
  }

  ul.errorlist {
    color: red;
  }

  span.helptext {
    margin-left: 164px;
    font-size: medium;
    display: block;
  }

  input[type=text], input[type=email], input[type=password] {
    width: 300px;
  }
}

div.mce-tinymce {
    display: inline-block;
}

fieldset.form-group {
  margin: 0px;
}

form.user {
  span.helptext {
    display: none;
  }
}

form.court {
  fieldset {
    margin: 0px;
  }

  &.basic {
    input[type=text] {
      width: 600px;
    }

    textarea {
      width: 770px;
    }
  }

  &.postcode {
    input {
      width: 100px;
    }
  }

  &.address {
    input[type=text] {
      width: 110px;
    }
    textarea {
      width: 500px;
      height: 130px;
    }

    input[name=delete]{
      position: relative;
      top: -70px;
      left: 162px;
    }
  }

  &.cancel-reorder{

    input[name=cancel]{
      position: relative;
      top: -70px;
      left: 150px;
    }
  }
  &.aols {
    label {
      width: initial;
    }
    ul {
      columns: 3;
      input {
        margin-right: 15px;
      }
    }
  }
  &.types {
    label {
      width: 225px;
    }
    ul {
      label {
        width: initial;
      }
      columns: 3;
      input {
        margin-right: 15px;
      }
    }
  }
  &.photo {
    label {
      display: none;
    }
  }
}

button#generate-password {
  position: relative;
  left: 487px;
}

#admin-add-user-page {
  button#generate-password {
    top: -300px;
  }
}

#admin-edit-password-page {
  button#generate-password {
    top: -282px;
  }
}

ul.messages {
  margin: auto;
  padding-top: 20px;
  max-width: 950px;
  li {
    border: solid;
    padding: 10px;
    list-style-type: none;
    font-weight: bold;
    &.success {
      color: green;
      background: #ccffcc;
    }
    &.warning {
      color: #b36b00;
      background: #ffffb3;
    }
    &.error {
      color: red;
      background: #ffd6cc;
    }
  }
}

.ui-sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 40%;
  margin-bottom: 20px;
  li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.0em;
    cursor: move;
    span {
      position: relative;
      margin-left: -1.3em;
    }
    &.li-default {
      background: #F6F6F6;
      border: 1px solid #DDDDDD;
      color: #333333;
      list-style:none;
    }
  }
}
