.nav-menu {
  margin: auto;
  max-width: 950px;
  border-bottom: solid 1px;
  ul {
    margin: 10px 0;
  }

  li {
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 0 20px;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #005ea5;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: #005ea5;
    }
  }
}

.right-link {
    float:right;
    margin-right: 0px;
}

form {
  label{
    width: 150px;
    float: left;
    margin: 0px;
  }

  ul.errorlist {
    color: red;
  }

  span.helptext {
    display: none;
  }

  input[type=text], input[type=email], input[type=password] {
    width: 300px;
  }
}

div.mce-tinymce {
  margin-left: 150px;
}

form.court {
  fieldset {
    margin: 0px;
  }

  &.basic {
    input[type=text] {
      width: 600px;
    }

    textarea {
      width: 780px;
    }
  }

  &.address {
    input[type=text] {
      width: 110px;
    }
    textarea {
      width: 500px;
      height: 130px;
    }

    input[name=delete]{
      position: relative;
      top: -50px;
      left: 150px;
    }
  }
}

div.details {
    padding-top: 20px;
}

.messages {
  margin: auto;
  padding-top: 20px;
  max-width: 950px;
  .success {
    list-style-type: none;
    color: green;
    font-weight: bold;
  }
}