@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin leaflet_list{
  ul{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    li{
      list-style: none;
      word-wrap: break-word;
    }
  }
}

#leaflet{
  #logo h1:before{
    content:url(/assets/images/crests/org_crest_27px_x2.png);
  }
  #header{
    #logo{
      float: left;
      width: 50%;
    }
    #title{
      float: left;
      width: 50%;
    }
    @include clearfix
  }

  h2{
    background-color: #c5c5c5;
    padding: .5em;
  }
  div{
        width: 100%;
  }
  #court{
    #photo{
      float: left;
      width: 30%;
    }
    li{
      list-style: none;
    }
    #address{
      float: right;
      text-align: left;
      width: 60%;
    }
    @include clearfix;
  }
  #contacts, #email, #opening_times, #facilities{
    @include leaflet_list;
    @include clearfix;
    ul li .facility{
      float: right;
      width: 87%;
    }
    .icon{
      float: none;
      height: 50px;
      width: 50px;
    }
  }
  #additional{
    ol {
      padding-left: 1em;
      li{
      list-style: disc outside none;
      margin-left: 1em;
      }
    }
  }
}


