@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin leaflet_list{
  ul{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    li{
      list-style: none;
      word-wrap: break-word;
    }
  }
}

#leaflet{
  
  #header{
    #logo{
      #crest{
        &:before{
        content:url(/assets/images/crests/org_crest_27px_x2.png);
        }
        float: left;
      }
      #hmcts{
        float: left;
        padding-left: 15px;
        padding-top: 29px;
        padding-bottom: 0px;
        width: 182px;
        border-left: 2px solid #000;
        margin-left: 13px;
      }
      
      float:left;
    }
    #title{
      h1{
        padding-top: 29px;
      }
      float: right;
      width: 50%;
      text-align:right;
    }
    @include clearfix
  }

  h2{
    background-color: #005ea5;
    padding: .5em;
    color:#FFF;
  }
  h3{
    font-size: xx-large;
  }
  #court{
    #photo{
      float: left;
      width: 30%;
    }
    li{
      list-style: none;
    }
    #address{
      float: right;
      text-align: left;
      width: 60%;
    }
    @include clearfix;
  }
  #contacts, #email, #opening_times, #facilities{
    @include leaflet_list;
    @include clearfix;
    ul li .facility{
      float: right;
      width: 87%;
    }
    .icon{
      float: none;
      height: 50px;
      width: 50px;
    }
  }
  #additional{
    ol {
      padding-left: 1em;
      li{
      list-style: disc outside none;
      margin-left: 1em;
      }
    }
  }
}


