@media print{
	#global-breadcrumb, a[href='javascript:window.print()'], #feedback-banner, #global-header
	{
		display:none;
	}
	#leaflet{
		h2{
			background-color: #005ea5;
			border: 1px solid #005ea5;
			padding: 0.5em;
			color: #FFF;
			margin-top: 10px;
		}
	}
	@page 
    {
        size:  auto;   /* auto is the initial value */
        margin: 2.5em;  /* this affects the margin in the printer settings */
    }

	div {
  		page-break-inside: avoid;
	}
	
	@font-face {
  		font-family: GDS-Logo;
  		src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); 
  	}
  	#facilities {
    li {
      clear: both;
    }
    ul li .facility{
     
      width: 80% !important;
    }
    .icon {
      margin-right: 0px !important;
      img {
        max-width: none !important;
      }
    }
    }	  
}	