@media print{
	
	#global-breadcrumb, a[href='javascript:window.print()'], #feedback-banner, #global-header
	{
		display:none;
	}

	#leaflet{
		h2{
			background-color: #c5c5c5 !important;
			padding: 0 !important;
		}

	}
	@page{
		margin:0;
	}

	.content.inner{
		margin:2em 2em;
	}
}