/* -- govuk/moj Overrides ------- */

@import "device-pixels";
@import "conditionals";
@import "colours";

body {
  font-size: 19px;
}

ul li {
list-style-type: disc;
list-style-position: inside;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 1em 0 1em 0;
}

.note {
margin-top: 2em;
}

.button {
margin-top: 1em;
}

.button-get-started {
  background-image: url("/static/images/icon-pointer.png");
  @include device-pixel-ratio {
    background-image: url("/static/images/icon-pointer-2x.png");
    background-size: 30px 19px;
  }

  @include ie(6) {
    background-image: url("/static/images/icon-pointer-2x.png");
  }
}

label {
  margin-top: 2em;
}

.form-block {
  width: 90%;
  margin-top: 1em;
  clear:both;
}



/* -- Application specific ------------- */

$small-width: 800px;

.court-addresses {
  @media screen and (min-width: $small-width) {
    float: left;
    width: 30%;
  }
}

.court-aol {
  @media screen and (min-width: $small-width) {
    float: left;
    width: 30%;
  }
}

.court-map {
  text-align: right;
  @media screen and (min-width: $small-width) {
    float: right;
    width: 30%;
  }
}

.clear {
  @media screen and (min-width: $small-width) {
    clear: both
  }
}

.distance-from-postcode {
  font-size: 0.7em;
  margin-bottom: 0;
}

.search-results {
  margin-top: 40px;
}

.search-results > ul > li {
  list-style-type: none;
}

.court-link {
  font-weight: 600;
  margin-bottom: .5em;
}

.court-result-heading {
  font-weight: 600;
  margin-bottom: 0;
}

.court-addresses li {
  list-style-type: none;
}

#aol-hint {
  display: none;
  margin-left: 1em;
}

#aols {
  margin-top: 0;
  .js {
    border-left: 8px solid $grey-3;
    padding-left: 10px;
  }
}

#aol-one-label {
  display: none;
  .js {
    display: block;
  }
}

.aol-description {
  display: block;
  color: #666;
  margin-top: 0.3em;
}