body {
  font-size: 19px;
}

ul li {
list-style-type: disc;
list-style-position: inside;
}

h2 {
font-weight: 600;
font-size: 24px;
}

.note {
margin-top: 2em;
}

.court-result-left {
float: left;
width: 30%
}

.court-result-right {
float: right;
width: 70%
}

.clear {
clear: both
}

.selected-aol {
background-color: #FFBF00;
font-weight: bold;
}
