/* -- govuk/moj Overrides ------- */

@import "device-pixels";
@import "conditionals";
@import "colours";

body {
  font-size: 19px;
}

ul li {
list-style-type: disc;
list-style-position: inside;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 1em 0 1em 0;
}

.note {
margin-top: 2em;
}

.button {
margin-top: 1em;
}

.button-get-started {
  background-image: url("/static/images/icon-pointer.png");
  @include device-pixel-ratio {
    background-image: url("/static/images/icon-pointer-2x.png");
    background-size: 30px 19px;
  }

  @include ie(6) {
    background-image: url("/static/images/icon-pointer-2x.png");
  }
}

label {
  margin-top: 2em;
}

.form-block {
  width: 90%;
  margin-top: 1em;
  clear:both;
}

.form-hint {
  color: #555;
  padding-bottom: 5px;
  margin-top: 5px;
}

/* -- Application specific ------------- */

$small-width: 800px;

.court-addresses {
  @include media($min-width: $small-width) {
    float: left;
    width: 30%;
  }
}

.court-aol {
  @include media($min-width: $small-width) {
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
  }
  ul {
    font-size: 80%;
  }
}

.court-map {
  width: 290px;
  > p a {
    display: block;
  }
  @include media($min-width: $small-width) {
    float: right;
  }
  .court-result-heading {
    float: left
  }
  .distance-from-postcode {
    text-align: right;
    padding-top: .5em;
  }
}

.clear {
  clear: both;
}

.distance-from-postcode {
  font-size: 0.7em;
  margin-bottom: 0;
}

.search-results {
  margin-top: 40px;
}

.search-results > ul > li {
  list-style-type: none;
}

.court-link {
  font-weight: 600;
  margin-bottom: .5em;
}

.court-result-heading {
  font-weight: 600;
  margin-bottom: 0;
}

.court-addresses li {
  list-style-type: none;
}

#aol-hint {
  display: none;
  margin-left: 1em;
}

.form-line {
  clear: both;
  padding-top: 1em;
  padding-bottom: .5em;
}

#aols {
  margin-top: 0;
  .js {
    border-left: 8px solid $grey-3;
    padding-left: 10px;
  }
  label {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  .form-label {
    margin-bottom: 0;
    padding: 8px;
  }
  input {
    top: 10px;
  }

  #last-choice {
    margin-top: 2em;
  }
}

.aol-description {
  color: #666;
}

.a-z-navigation {
  font-size: 120%;
  font-weight: 600;
  padding-bottom: 5em;
  li {
    border: 1px solid black;
    width: 1.2em;
    height: 1.2em;
    padding: .3em .4em .2em .4em;
    margin: 5px 5px 5px 5px;
    list-style-type: none;
    float: left;
    vertical-align: baseline;
    text-align: center;
    a:link {
      text-decoration: none;
    }

  }
}

.letterheader {
  font-size: 200%;
}

// User texting fix

#search-index-page {
    header.page-header h1 {
    padding-top: 10px;
  }

  h2 {
    margin: 0.6em 0 0.6em 0;
  }
}

/* court pages */

.court {
  #map-link {
    padding-top: 1em;
  }


  h2 {
    padding-top: .5em;
    clear: left;
  }

  li {
    list-style-type: none;
    margin: 0;
  }

  #addresses {
    h2 {
      padding-top: 0;
    }
    background-color: #e6e6e6;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
    @include media($min-width: $small-width) {
      min-height: 226px;
      display: inline-block;
      float: left;
      width: 60%;
      #visiting {
        float: left;
        width: 50%;
      }
      #postal {
        float: left;
        width: 50%;
      }
    }
    h2 {
      margin-top: 0;
    }
  }

  #photo {
    overflow: hidden;
    img {
      width: 100%;
      max-width: 400px;
    }
    @include media($min-width: $small-width) {
      float: right;
      width: 33%;
    }
  }

  #left {
    @include media($min-width: $small-width) {
      float: left;
      width: 60%;
    }
  }

  #areas_of_law {
    h2 {
      border-top: 10px solid #005EA5;
    }
    @include media($min-width: $small-width) {
      float: right;
      width: 33%;
      margin-top: 1em;
    }
  }

  #facilities {
    li {
      clear: both;
    }
    .icon {
      position: relative;
      width: 50px;
      height: 50px;
      overflow: hidden;
      display: inline-block;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      img {
        position: absolute;
      }
    }
  }
  .icon-firstaid {top:-10px;left:-250px}
  .icon-interview {top:-10px;left:-130px}
  .icon-waiting {top:-10px;left:-310px}
  .icon-hotspot {top:-10px;left:-370px}
  .icon-children {top:-10px;left:-430px}
  .icon-no-parking {top:-10px;left:-490px}
  .icon-disabled {top:-70px; left: -10px}
  .icon-guide_dogs {top:-70px;left:-70px}
  .icon-phone {top:-70px;left:-130px}
  .icon-disabledwc {top:-70px;left:-190px}
  .icon-public_toilets {top:-70px;left:-250px}
  .icon-baby {top:-70px;left:-310px}
  .icon-prayer {top:-70px;left:-370px}
  .icon-hot_vending {top:-70px;left:-430px}
  .icon-parking {top:-70px;left:-490px}
  .icon-loop_hearing {top: -10px;left: -10px}
  .icon-video_conf {top: -10px;left: -70px}

  #alert {
    margin-top: 2em;
    #alert-icon {
      float: left;
      padding: 0 20px 50px 0;
    }
  }

  #pros {
    dt {
      float: left;
      padding-right: .3em;
    }
  }

  #map-link a img {
    height: 15px;
  }

}

#last_update {
  font-size: 80%;
  color: #555;
  padding-top: 2em;
  clear: both;
}

#feedback-form {
  background-color: #e6e6e6;
  padding-left: 1em;
  .form-hint {
    font-size: 80%;
  }
}

p.warning {
  font-weight: bold;
}


#feedback-banner {
  text-align: center;
  font-size: 85%;
  margin: .5em auto;
  width: auto;
  max-width: 960px;
}
