{% extends "admin.html" %}

{% block page_title %}Manage lists{% endblock %}

{% block admin %}
  <div class="content inner cf">
    <header class="page-header">
      <h2>Type Lists</h2>
    </header>
    <ul class="nav-menu">
      <li><a href="{% url 'admin:facility_types' %}">facilities</a></li>
      <li><a href="{% url 'admin:contact_types' %}">contacts</a></li>
      <li><a href="{% url 'admin:opening_types' %}">opening hours</a></li>
    </ul>
    <div class="content cf details">
        <h3>{{heading}}{% if not hide_add_link %}<a class="right-link" href="{{list_add_url}}">Add new {{type_name}}</a>{% endif %}</h3>
    {% block details %} {% endblock %}
    </div>
  </div>

{% endblock %}
