{% load static %}
<a href="{% url 'admin:reorder_facility_types' %}">Change global facility type ordering</a>
<table id="court-list">
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th></th>
  </tr>
  {% for fac in objects %}
  <tr>
    <td>{{ fac.name }}</td>
    <td>{{ fac.image_description }}</td>
    <td>
        {% if fac.image_src %}
        <span class="icon">
              <img src="{% static fac.image_src %}" class="{{ fac.image_class }}" alt="{{ fac.image_description }}">
        </span>
        {% else %}
        <span>
            No icon uploaded
        </span>
        {% endif %}
    </td>
    <td><a href="{% url 'admin:edit_facility_type' id=fac.id %}">edit</a></td>

  </tr>
  {% endfor %}
</table>