{% extends "layout/base.jinja" %}
{% load i18n %}
{% block page_title %}{% if error %}{% trans "Error" %}: {% endif %}{% trans "Search by name or address" %}{% endblock %}

{% block content %}
<div id="global-breadcrumb" class="header-context">
  <ol role="breadcrumbs" class="group">
    <li><a href="{% url 'staticpages:home' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'search:search' %}">{% trans "Find a court or tribunal" %}</a></li>
  </ol>
</div>
<div id="search-index-page" class="content inner cf">
  <header class="page-header">
    <h1>{% trans "Search by name or address" %}</h1>
  </header>
  <div class="group">
    {% if error == 'noquery' %}
    <section class="validation-error">
      <h2>{% trans "Error" %}</h2>
      <p>{% trans "You did not enter a search term. Please try again." %}</p>
    </section>
    {% elif error == 'noresults' %}
    <section class="validation-error">
      <h2>{% trans "Error" %}</h2>
      <p>{% blocktrans %}Sorry, there are no results for {{ query }}. Please check and try another name or address.{% endblocktrans %}</p>
    </section>
    {% endif %}
    <form method="get" action="results">
      <fieldset class="form-group">
        <label for="address" class="form-block">
          <div class="form-hint">{% trans "Enter one of the following" %}</div>
          <ul class="form-hint">
            <li>{% trans "court or tribunal name" %}</li>
            <li>{% trans "building name" %}</li>
            <li>{% trans "street name" %}</li>
            <li>{% trans "town or city name" %}</li>
          </ul>
          <input id="address" class="form-control" type="text" name="q" autofocus/>
        </label>
      </fieldset>
      <div class="actions">
        <button id="continue" class="button" type="submit">{% trans "Continue" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
