{% extends "layout/base.jinja" %}
{% load static %}
{% load i18n %}
{% block page_title %}{% trans "About your issue" %}{% endblock %}

{% block content %}
<div id="global-breadcrumb" class="header-context">
  <ol role="breadcrumbs" class="group">
    <li><a href="{% url 'staticpages:home' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'search:search' %}">{% trans "Find the right court or tribunal" %}</a></li>
  </ol>
</div>
<div id="aol-page" class="content inner cf">
  <header class="page-header">
    <h1>{% trans "About your issue" %}</h1>
  </header>
{% if aol == '' %}
  <section class="validation-error">
    <h2>{% trans "Error" %}</h2>
    <p>{% trans "You did not enter a type of legal problem. Please try again." %}</p>
  </section>
{% endif %}

  <form method="get" action="{% url 'search:spoe' %}">
    <div class="form-block">

      <div id="aols" class="form-block">
        {% for area in areas_of_law %}
        <label for="aol-{{forloop.counter}}" class="block-label form-block aol-label">
          <input id="aol-{{forloop.counter}}" type="radio" name="aol" value="{{area.name}}" {% if area.name == aol %}checked{% endif %}>
          <div class="form-label">
            <span class="aol-name">{{area.name}}: </span>
            <span class="aol-description">{{ area.description }}</span>
          </div>
        </label>
        {% endfor %}
        <label id="last-choice" for="aol-0" class="block-label form-block">
          <input id="aol-0" type="radio" name="aol" value="All" {% if aol == 'All' %}checked{% endif %}>
          <div class="form-label">
            <span class="aol-name">{% trans "None of the above or not sure:" %}</span>
            <span class="aol-description">{% trans "will display a list of the nearest courts to the postcode" %}</span>
          </div>
        </label>
      </div>
    </div>
    <div class="actions">
    <button id="continue" class="button" type="submit">{% trans "Continue" %}</button>
  </div>
  </form>
</div>
{% endblock %}
