{% extends "layout/base.jinja" %}

{% block page_title %}Find the right court or tribunal{% endblock %}

{% block content %}
  <div id="global-breadcrumb" class="header-context">
    <ol role="breadcrumbs" class="group">
      <li><a href="{% url 'staticpages:home' %}">Home</a></li>
    </ol>
  </div>
  <div id="search-index-page" class="content inner cf">
    <header class="page-header">
      <h1>Find the right court of tribunal</h1>
    </header>
    <p class="group">
      <p>This service will guide you to the most suitable court or tribunal</p>
      <a id="start-button" href="{% url 'search:aol' %}" class="button-get-started button">Next</a>
    </p>
    <h2>You can also search for a court or tribunal by:</h2>
    <ul>
      <li><a href="{% url 'search:address' %}">Name or address</a></li>
      <li><a href="{% url 'courts:list' %}">A-Z list of all courts</a></li>
    </ul>
  </div>
{% endblock %}
