{% extends "layout/base.jinja" %}
{% load static %}

{% block page_title %}Find a court or tribunal{% endblock %}

{% block content %}
<div id="global-breadcrumb" class="header-context">
  <ol role="breadcrumbs" class="group">
    <li><a href="https://www.gov.uk">Home</a></li>
    <li><a href="https://www.gov.uk/browse/justice">Crime, justice and the law</a></li>
    <li><a href="/search">Find a court or tribunal</a></li>
  </ol>
</div>
<div class="content inner cf">
  <header class="page-header">
    <h1>Find a court or tribunal</h1>
  </header>

{% if postcode == '' %}
  <section class="validation-error"><span>You did not enter a postcode. Please try again.</span></section>
{% endif %}
{% if area_of_law == '' %}
  <section class="validation-error"><span>You did not enter a type of legal problem. Please try again.</span></section>
{% endif %}
{% if error == 'noresults' %}
  <section class="postcode-error validation-error">
    <span>Sorry, your postcode <strong>{{ postcode }}</strong> has not been found.<br />
      Please check if any letters or numbers are missing.</span>
  </section>
{% elif error == 'ni' %}
  <section class="postcode-error validation-error">
    <span>Aside from immigration tribunals, this tool does not return results for Northern Ireland.
      Other courts and tribunals in Northern Ireland are handled by the Northern Ireland Courts and Tribunals Service.</span>
  </section>
{% endif %}

  <form method="get" action="results">
    <div class="form-block">
      <label for="postcode">
        <div class="form-label-bold">Search by postcode</div>
        <div class="form-hint">Use full or part postcodes, for example, BN17 5DF or BN17.</div>
        <input type="text" name="postcode" value="{{ postcode|default:'' }}" />
      </label>
    </div>
    <div class="form-block">
      <div class="form-label-bold">Filter by legal problem</div>
      <div class="form-hint">Not all courts deal with all legal problems. Filtering will help you find the right court more easily.</div>
      <label for="aol-0" class="block-label form-block">
        <input id="aol-0" type="radio" name="area_of_law" value="All" checked=checked>
        <div class="form-label">All courts and tribunals</div>
      </label>
      <label for="aol-one" class="block-label form-block" id="aol-one-label">
        <input id="aol-one" type="radio" name="area_of_law" value="unselected">
        <div class="form-label">Only those dealing with your legal problem</div>
      </label>
      <div id="aols" class="form-block">
        <div id="aol-hint" class="form-hint">Choose the problem area that is relevant to you.</div>
        {% for aol in areas_of_law %}
        <label for="aol-{{forloop.counter}}" class="block-label form-block aol-label">
          <input id="aol-{{forloop.counter}}" type="radio" name="area_of_law" value="{{aol.name}}" >
          <div class="form-label">
            {{aol.name}}
            <span class="aol-description">{{ aol.description }}</span>
          </div>
        </label>
        {% endfor %}
      </div>
    </div>
    <div class="actions">
    <button id="continue" class="button" type="submit">Continue</button>
  </div>
</form>
</div>
{% endblock %}
{% block javascripts %}
    <script src='{% static "javascripts/application.js" %}'></script>
{% endblock %}
