{% extends "layout/base.jinja" %}
{% load static %}

{% block page_title %}Enter postcode{% endblock %}

{% block content %}
<div id="global-breadcrumb" class="header-context">
  <ol role="breadcrumbs" class="group">
    <li><a href="{% url 'staticpages:home' %}">Home</a></li>
    <li><a href="{% url 'search:search' %}">Find a court or tribunal</a></li>
    <li><a href="{% url 'search:aol' %}?aol={{aol}}">About your issue</a></li>
    {% if spoe %}
    <li><a href="{% url 'search:spoe' %}?aol={{aol}}&spoe={{spoe}}">Additional info</a></li>
    {% endif %}
  </ol>
</div>
<div id="search-index-page" class="content inner cf">
  <header class="page-header">
    <h1>Enter postcode</h1>
  </header>
  {% if error == 'nopostcode' %}
  <div class="group">
    <section class="validation-error">
      <h2>Error</h2>
      <p>You did not enter a postcode. Please try again.</p>
    </section>
  </div>
  {% elif error == 'ni' %}
    <section class="validation-error">
      <h2>Error</h2>
      <p>Aside from immigration tribunals, this tool does not return results for Northern Ireland.</p>
    </section>
  </div>
  {% endif %}
  <form method="get" action="results">
    <input type="hidden" name="aol" value="{{ aol }}"/>
    <input type="hidden" name="spoe" value="{{ spoe }}"/>
    <div class="form-block">
      <label for="postcode">
        <div class="form-hint">
          {% if aol == 'Children' %}
          Enter the postcode where the child (or children) lives.
          {% elif aol == 'Housing possession' %}
          <p>
            You may be able to
            <a href="https://www.gov.uk/possession-claim-online-recover-property" target="_blank">start a possession claim online</a>.
          </p>

          Enter the postcode of the property.
          {% elif aol == 'Money claims' %}
          <p>
            You may be able to
            <a href="https://www.gov.uk/make-money-claim-online" target="_blank">make a money claim online</a>.
          </p>
          {% else %}
          Enter your postcode.
          {% endif %}
        </div>
        <input id="postcode" type="text" name="postcode" value="{{ postcode|default:'' }}" autofocus/>
      </label>
    </div>
    <div class="actions">
      <button id="continue" class="button" type="submit">Continue</button>
    </div>
  </form>
</div>
{% endblock %}
