{% extends "layout/base.jinja" %}
{% load static %}
{% load i18n %}
{% block page_title %}{% if error %}{% trans "Error" %}: {% endif %}{% trans "Enter postcode" %}{% endblock %}

{% block content %}
<div id="global-breadcrumb" class="header-context">
  <ol role="breadcrumbs" class="group">
    <li><a href="{% url 'staticpages:home' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'search:search' %}">{% trans "Find a court or tribunal" %}</a></li>
    <li><a href="{% url 'search:aol' %}?aol={{aol|urlencode}}">{% trans "About your issue" %}</a></li>
    {% if spoe %}
    <li><a href="{% url 'search:spoe' %}?aol={{aol|urlencode}}&spoe={{spoe|urlencode}}">{% trans "Additional info" %}</a></li>
    {% endif %}
  </ol>
</div>
<div id="postcode-page" class="content inner cf">
  <header class="page-header">
    {% if aol == 'Housing possession' %}
      <h1>{% trans "Housing Possession" %}</h1>
    {% elif aol == 'Money claims' %}
        {% if spoe == 'start' %}
          <h1>{% trans "For a new claim:" %}</h1>
        {% elif spoe == 'nearest' %}
          <h1>{% trans "Enter postcode" %}</h1>
          <p>{% trans "Enter your postcode." %}</p>
        {% else %}
          <h1>{% trans "For an existing claim:" %}</h1>
        {% endif %}
    {% else %}
      <h1>{% trans "Enter postcode" %}</h1>
    {% endif %}
  </header>
  {% if error == 'nopostcode' %}
  <div class="group">
    <section class="validation-error">
      <h2>{% trans "Error" %}</h2>
      <p>{% trans "You did not enter a postcode. Please try again." %}</p>
    </section>
  </div>
  {% elif error == 'badpostcode' %}
    <section class="validation-error">
      <h2>{% trans "Error" %}</h2>
      <p>{% trans "You did not enter a valid postcode. Please try again." %}</p>
    </section>
  {% elif error == 'scotlandJurisdiction' %}
    <section class="validation-error">
      <h2>{% trans "Error" %}</h2>
      <p>{% trans "The child (or children) resides in Scotland and therefore outside the jurisdiction" %}</p>
    </section>
  {% elif error == 'ni' %}
    <section class="validation-error">
      <h2>{% trans "Error" %}</h2>
      <p>{% trans "Aside from immigration tribunals, this tool does not return results for Northern Ireland." %}</p>
    </section>
  {% endif %}
  <form method="get" action="results">
    <input type="hidden" name="aol" value="{{ aol }}"/>
    {% if spoe %}
    <input type="hidden" name="spoe" value="{{ spoe }}"/>
    {% endif %}
    <div class="form-block">
      <label for="postcode">
        <div class="form-hint">
          {% if aol == 'Money claims' %}
            {% if spoe == 'start'%}
                <div>
                    {% blocktrans trimmed %}
                    <a id="money-claims-online-link" href="https://www.gov.uk/make-money-claim-online" target="_blank">Making a money claim online</a> is cheaper and submitting it takes 30 minutes.
                    {% endblocktrans %}
                </div>
                <div class="indent2em">
                    {% trans "or" %}
                </div>
                <div>
                    <a href="{% url 'courts:court' 'county-court-money-claims-centre-ccmcc' %}">{% trans "Contact the County Court Money Claims Centre (CCMCC)" %}</a>
                </div>
            {% elif spoe == 'nearest'%}
                <input id="postcode" type="text" name="postcode" value="{{ postcode|default:'' }}" autofocus/>
                <div class="actions">
                  <button id="continue" class="button" type="submit">{% trans "Continue" %}</button>
                </div>
            {% else %}
                <div class='existingMoneyClaim'>
                    {% trans "That was previously entered online" %}
                    <div>
                        <a id="money-claims-online-link" href="https://www.gov.uk/make-money-claim-online" target="_blank">{% trans "Go to the Online Money Claim Service" %}</a>
                    </div>
                </div>
                <div class='existingMoneyClaim'>
                    {% trans "That was previously completed on paper" %}
                    <div>
                        <a href="{% url 'courts:court' 'county-court-money-claims-centre-ccmcc' %}">{% trans "Contact the County Court Money Claims Centre (CCMCC)" %}</a>
                    </div>
                </div>
                <div class="existingMoneyClaim">
                    {% trans "If you know a local court is dealing with your claim" %}
                    <div>
                        <a href="{% url 'courts:list' %}">{% trans "Go to the A-Z list of courts" %}</a>
                    </div>
                </div>
            {% endif %}    
          {% else %}
              {% if aol == 'Children' %}
                {% trans "Enter the postcode where the child (or children) lives." %}
              {% elif aol == 'Housing possession' %}
                <p>
                  <a id="housing-possession-online-link" href="https://www.gov.uk/possession-claim-online-recover-property" target="_blank">{% trans "Start a Possession claim online" %}</a>.
                </p>
                {% trans "Or enter postcode of property to find nearest court." %}
              {% else %}
                {% trans "Enter your postcode." %}
              {% endif %}
            </div>
            {% if aol == 'Divorce' or aol == 'Civil partnership' %}
              <div class='form-hint'>{% trans "You will be directed to your Regional Divorce Centre." %}</div>
            {% endif %}
            <input id="postcode" type="text" name="postcode" value="{{ postcode|default:'' }}" autofocus/>
            <div class="actions">
              <button id="continue" class="button" type="submit">{% trans "Continue" %}</button>
            </div>
          {% endif %}
        </div>
      </label>
    </div>
  </form>
</div>
{% endblock %}
