{% extends "layout/base.jinja" %}
{% load static %}

{% block page_title %}Additional info{% endblock %}

{% block content %}
<div id="global-breadcrumb" class="header-context">
  <ol role="breadcrumbs" class="group">
    <li><a href="{% url 'staticpages:home' %}">Home</a></li>
    <li><a href="{% url 'search:search' %}">Find the right court or tribunal</a></li>
  </ol>
</div>
<div id="spoe-page" class="content inner cf">
  <header class="page-header">
    {% if aol == 'Children' %}
      <h1>Children</h1>
    {% elif aol == 'Divorce' or aol == 'Civil partnership' %}
      <h1>About your Divorce</h1>
      {% elif aol == 'Money claims' %}
      <h1>About your money claim</h1>
    {% else %}
      <h1>About your issue</h1>
    {% endif %}
  </header>
  <form method="get" action="{% url 'search:searchbyPostcodeOrCourtList' %}">
    <div class="form-block">
      <input type="hidden" name="aol" value="{{ aol }}"/>
      <label for="spoe-start" class="block-label form-block">
        <input id="spoe-start" type="radio" name="spoe" value="start" {% if spoe == 'start' %}checked{% endif %}/>
        {% if aol == 'Children' %}
          <div class="form-label">I want to start new proceedings</div>
        {% elif aol == 'Divorce' or aol == 'Civil partnership' %}
          <div class="form-label">I want to start proceedings</div>
        {% else %}
          <div class="form-label">about to start a new claim</div>
        {% endif %}
      </label>
      <label for="spoe-continue" class="block-label form-block">
        <input id="spoe-continue" type="radio" name="spoe" value="continue" {% if spoe == 'continue' %}checked{% endif %}/>
        {% if aol == 'Children' or aol == 'Divorce' or aol == 'Civil partnership' %}
        <div class="form-label">I am already in contact with a court</div>
        {% elif aol == 'Money claims' %}
          <div class="form-label">already have a claim</div>
        {% else %}
        <div class="form-label">already in contact with a court or tribunal</div>
        {% endif %}
      </label>
    </div>
    <div class="actions">
    <button id="continue" class="button" type="submit">Continue</button>
  </div>
  </form>
</div>
{% endblock %}
